/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  
  .name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px; /* Space between name and role */
    color: #343a40; /* Dark color for readability */
  }
  
  .role-name {
    font-size: 16px;
    color: #6c757d; /* Muted color for the role name */
    margin-right: 20px; /* Space between role name and button */
  }


  .menu-sub {
    display: none; /* Hide the submenu by default */
  }
  
  .menu-sub.show {
    display: block; /* Show the submenu when the 'show' class is added */
  }
  
  .menu-link {
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  }
  .details{
    background-color: #9ea1ab;
  }
/* Sidebar default hidden state */.layout-menu.hidden {
  transform: translateX(-230px);
  /*Adjustthevaluebasedonsidebarwidth*/transition: transform 0.3s ease;
  -webkit-transform: translateX(-230px);
  -moz-transform: translateX(-230px);
  -ms-transform: translateX(-230px);
  -o-transform: translateX(-230px);
}

/* Sidebar visible state */
.layout-menu {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

/* Sidebar toggle button position */
.layout-menu-toggle {
  cursor: pointer;
}
