/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  