.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px; /* Adds space between the input fields */
  }
  
  .search-container input[type='text'],
  .search-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .search-container input[type='text']:focus,
  .search-container select:focus {
    border-color: #007bff;
    outline: none;
  }

  
  .pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-btn:hover {
    background-color: #0056b3;
  }
  
  .page-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .page-btn.active {
    background-color: #0056b3;
  }
  
  